<%= form_with(model: article, local: true) do |form| %>
  <%= render "shared/errors", obj: @article %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, id: :article_title, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, id: :article_description, class: "textarea" %>
  </div>

  <%= form.submit class: "button is-link" %>
<% end %>