<%= form_with(model: article, local: true, id: uid(article), class: "ui form") do |form| %>
  <div class="field">
    <%= form.label :title %>
    <div class="ui two column grid">
      <div class="column">
        <%= form.text_area :title, class: "katex-input", "data-target" => "#katex-output-title" %>
      </div>
      <div class="column" id="katex-output-title">
        <%= render 'articles/katex_target', text: article.title %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :tags, "Tag", class: "label" %>
    <%= render 'tags/tag_dropdown' %>
  </div>

  <div class="field">
    <%= form.label :tldr, "TL;DR", class: "label" %>    
    <div class="ui two column grid">
      <div class="column">
        <%= form.text_area :tldr, id: 'tldr', class: "katex-input", "data-target" => "#katex-output-tldr" %>
      </div>
      <div class="column" id="katex-output-tldr">
        <%= render 'articles/katex_target', id: "katex-output-tldr", text: article.tldr %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :tldr_image, "Image for TL;DR (not required)" %>
    <%= form.file_field :tldr_image, id: 'tldr-image' %>
  </div>

  <div class="field">
    <%= form.label :body, class: "label" %>
    <div class="ui two column grid">
      <div class="column">
        <%= form.text_area :body, class: "wysiwig katex-input", "data-target" => "#katex-output-body", id: 'body' %>
      </div>
      <div class="column" id="katex-output-body">
        <%= render 'articles/katex_target', id: "", text: article.body %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "ui primary button", id: "submit-article" %>
  </div>
<% end %>

<%= javascript_pack_tag "import_ckeditor" %>
