<% article = local_assigns[:article] || Article.new %>

<%= form_with(model: article, local: true, id: dom_id(article), class: "ui form") do |form| %>  
  <div class="field">
    <%= form.label :title %>
    <div class="ui two column grid">
      <div class="column">
        <%= form.text_area :title, id: "title", class: "katex-input", "data-target" => "#katex-output-title" %>
      </div>
      <div class="column" id="katex-output-title">
        <%= render 'articles/katex_target', text: article.get_title %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :tags, "Tag", class: "label" %>
    <%= render 'tags/tag_dropdown', multiple: true, selected_ids: article.tags&.map(&:id) %>
  </div>

  <div class="field">
    <%= form.label :tldr, "TL;DR", class: "label" %>    
    <div class="ui two column grid">
      <div class="column">
        <%= form.text_area :tldr, id: 'tldr', class: "katex-input", "data-target" => "#katex-output-tldr" %>
      </div>
      <div class="column" id="katex-output-tldr">
        <%= render 'articles/katex_target', id: "katex-output-tldr", text: article.get_tldr %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :tldr_image, "Image for TL;DR (not required)" %>
    <%= form.file_field :tldr_image, id: 'tldr-image' %>
  </div>

  <div class="field">
    <%= form.label :body, class: "label" %>
    <div class="ui two column grid">
      <div class="column">
        <%= form.text_area :body, class: "wysiwig katex-input", "data-target" => "#katex-output-body", id: 'body' %>
      </div>
      <div class="column" id="katex-output-body">
        <%= render 'articles/katex_target', id: "katex-output-body", text: article.get_body, html: true %>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="ui checkbox">
      <%= form.check_box :anonymous, id: "anonymous" %>
      <label>
        Post anonymously (the database will not know who posted this,
        <strong><i>and you can never change it</i></strong>,
        since you forfeit all ownership)
      </label>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Submit", class: "ui primary button", id: "submit-article" %>
  </div>
<% end %>

<%# Prevent the textarea from becoming a JS object to make Specs simpler %>
<% unless Rails.env.test? %>
  <%= javascript_include_tag "import_html_renderers" %>
<% end %>
