<h1>
  <%= parse_katex @article.title, strip_tags: true %>
</h1>

<div class="field">
  <%= author_label @article %>
</div>

<% if current_user&.has_permission? @article %>
  <% if current_user != @article.owner && current_user.admin? %>
    <% msg = "Edit article as admin" %>
  <% else %>
    <% msg = "Edit article" %>
  <% end %>

  <br>
  <%= link_to msg, edit_article_path(@article) %>
<% end %>

<div class="ui message">
  <h2>Tags</h2>
  <p>
    <% if @article.tags.empty? %>
      <i>None</i>
    <% else %>
      <% @article.tags.each do |article_tag| %>
        <%= render "tags/tag", tag: article_tag %>
      <% end %>
    <% end %>
  </p>
</div>

<div class="ui segment">
  <h2>tldr</h2>
  <%= parse_katex @article.tldr, strip_tags: true %>
  <% unless @article.tldr_image.attachment.nil? %>
    <%= image_tag(@article.tldr_image.attachment, style: "width: 100%; height: auto;") %>
  <% end %>
</div>

<%= parse_katex @article.body %>
