<h1>
  <%= @article.get_title %>
</h1>

<div class="field">
  <%= author_label @article %>
</div>

<div class="grey">
  <div class="field">
    Created at <%= @article.created_at %>
  </div>

  <div class="field">
    Last updated at <%= @article.updated_at %>
  </div>
</div>

<% if current_user&.has_permission? @article %>
  <% if current_user != @article.owner && current_user.admin? %>
    <% msg = "Edit article as admin" %>
  <% else %>
    <% msg = "Edit article" %>
  <% end %>

  <br>
  <%= link_to msg, edit_article_path(@article) %>
<% end %>

<div class="ui message">
  <h2>Tags</h2>
  <p>
    <% if @article.tags.empty? %>
      <i>None</i>
    <% else %>
      <% @article.tags.each do |article_tag| %>
        <%= render "tags/tag", tag: article_tag %>
      <% end %>
    <% end %>
  </p>
</div>

<% tldr = @article.get_tldr %>
<% tldr_image = @article.tldr_image.attachment %>

<% unless tldr.nil? && tldr_image.nil? %>
  <div class="ui segment">
    <h2>tldr</h2>
    <%= tldr %>
    <% unless tldr_image.nil? %>
      <%= image_tag(@article.tldr_image.attachment, style: "width: 100%; height: auto;") %>
    <% end %>
  </div>
<% end %>

<%= @article.get_body %>
