<h1 class="ui header">
  <%= @article.title %>
  <%= author_label @article %>
</h1>

<div class="field">
  <% @article.tags.each do |article_tag| %>
    <%= render "tags/tag", tag: article_tag %>
  <% end %>
</div>

<% if current_user&.has_permission? @article %>
  <% if current_user != @article.owner && current_user.admin? %>
    <% msg = "Edit article as admin" %>
  <% else %>
    <% msg = "Edit article" %>
  <% end %>

  <%= link_to msg, edit_article_path(@article) %>
<% end %>

<div class="ui segment">
  <h1>tl;dr</h1>
  <%= @article.tldr.html_safe %>
  <%= image_tag(@article.tldr_image.attachment) unless @article.tldr_image.attachment.nil?%>
</div>

<%= parse_katex @article.body %>
