<%= content_tag :h1, @article.get_title %>

<%= content_tag :div, author_label(@article), class: "field" %>

<div class="grey">
  <div class="field">
    Created at <%= @article.created_at %>
  </div>

  <div class="field">
    View count: <%= @article.views %>
  </div>
</div>

<% if current_user&.has_permission? @article %>
  <% admin = current_user != @article.owner && current_user.admin? %>

  <div class="field">
    <%= link_to "Edit article#{' as admin' if admin}", edit_article_path(@article) %>
  </div>
  <div class="field">
    <%= link_to "Delete article#{' as admin' if admin}", article_path(@article), method: :delete %>
  </div>
<% end %>

<% unless @article.tags.empty? %>
  <div class="ui message">
    <h2>Tags</h2>
    <div class="ui list">
      <% @article.tags.find_each do |tag| %>
        <div class="item">
          <%= render "tags/tag", tag: tag %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% tldr = @article.get_tldr %>
<% tldr_image = @article.tldr_image.attachment %>

<% unless tldr.nil? && tldr_image.nil? %>
  <div class="ui segment">
    <h2>tldr</h2>
    <%= tldr %>
    <% unless tldr_image.nil? %>
      <%= image_tag(@article.tldr_image.attachment, class: "image") %>
    <% end %>
  </div>
<% end %>

<%= @article.get_body %>
