<%= form_with(model: user, local: true, url: url, class: "ui form", method: method) do |f| %>  
  <div class="field">
    <%= f.label :profile_picture, "Profile picture", class: 'label' %>
    <%= f.file_field :profile_picture, accept: 'image/*' %>
  </div>

  <div class="field">
    <%= f.label :handle, class: 'label' %>
    <%= f.text_field :handle %>
  </div> 

  <div class="actions">
    <%= f.submit "Submit", class: "ui primary button", id: "submit-user" %>
  </div>
<% end %>
