<h1>Change password</h1>

<p>
  New passwords need to:
  <ul>
    <li>Be at least <%= UserValidator::PW_MIN %> characters</li>
    <li>Be at most <%= UserValidator::PW_MAX %> characters</li>
    <li>Contain a letter</li>
    <li>Contain a number or one of these (preferrably one of these):</li>
    <ul>
      <li><%= UserValidator::PW_SPECIAL_CHARS %></li>
    </ul>
  </ul>
</p>

<%= form_tag change_password_users_path, method: :patch, class: "ui form", id: "pw-change" do %>
  <div class="field">
    <%= label_tag :current, "Current password", class: "label" %>
    <%= text_field_tag :current, nil, type: "password" %>
  </div>

  <div class="field" id="new-field">
    <%= label_tag :new, "New password", class: "label" %>
    <%= text_field_tag :new, nil, type: "password" %>
  </div>

  <div class="field" id="confirm-field">
    <%= label_tag :confirm, "Confirm new password", class: "label" %>
    <%= text_field_tag :confirm, nil, type: "password" %>
  </div>

  <div class="ui error message">
    <p>New password and password confirmation don't match yet</p>
  </div>
  
  <div class="actions">
    <%= submit_tag "Submit", class: "ui primary button", id: "submit" %>
  </div>
<% end %>

<%= javascript_include_tag "password_checks" %>
