<h1>Leaderboards</h1>

<div class="ui stackable grid">
  <% @users.find_each do |user| %>
    <% @rank += 1 %>

    <div class="two wide middle aligned column">
      <%= leaderboard_crown(@rank) %>
    </div>

    <div class="fourteen wide column">
      <div class="ui basic segment">
        <div class="ui small image">
          <%= image_tag(user.profile_picture.attachment || "empty_set.png") %>
        </div>
        <div class="content">
          <%= link_to content_tag(:h3, user.handle), user, class: "header" %>

          <div class="extra">
            Views accumulated: <%= user.articles.sum(:views) %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= will_paginate @users %>
</div>
