<div class="ui segment">
  <% if @user.tags.any? %>
    <%= render 'verifications_user/verified_rail', tags: @user.tags %>
  <% end %>

  <% if current_user&.admin? %>
    <%= render 'verifications_user/verify_user_rail', tags: @user.tags %>
  <% end %>

  <div class="ui stackable items">
    <div class="item" id="<%= dom_id(@user) %>">

      <div class="ui medium image">
        <%= image_tag(@user.profile_picture.attachment) %>
      </div>

      <div class="content">
        <%= link_to @user.handle, @user, class: "header" %>

        <div class="meta">
          <% if @user.admin? %>
            <label class="ui red label">
              Administrator <i class="shield alterate icon"></i>
            </label>
          <% end %>
        </div>

        <div class="extra">
          Joined: <%= @user.created_at %>
        </div>

        <div class="extra">
          Articles written: <%= Article.where(author: @user).count %>
        </div>

        <% if current_user == @user %>
          <a class="extra" href="<%= delete_path %>" data-confirm="Are you sure?" data-method="delete">
            <i class="red trash icon"></i> Delete account
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h1>Recent activity</h1>

<div class="ui stackable items">
  <%= render partial: "articles/index/article", collection: @user.articles.last(5) %>
</div>
