<% img_link = article.tldr_image.attachment || "empty_set.png" %>

<div class="item" id="<%= uid(article) %>">

  <div class="ui tiny image">
    <%= image_tag img_link %>
  </div>

  <div class="content">
    <%= link_to parse_katex(article.title), article, class: "header" %>

    <div class="meta">
      <%= author_label article %>

      <% article.tags.each do |article_tag| %>
        <%= render 'tags/tag', tag: article_tag %>
      <% end %>
    </div>

    <div class="description">
      <%= parse_katex article.tldr %>
    </div>
  </div>
</div>
