<% img_link = article.tldr_image.attachment || "empty_set.png" %>

<a class="item" href="<%= article_path(article) %>" id="<%= uid(article) %>">

  <div class="ui tiny image">
    <%= image_tag img_link %>
  </div>

  <div class="content">
    <%= content_tag :h1, article.title, class: "header" %>

    <div class="meta">
      <%= author_label article %>

      <% article.tags.each do |article_tag| %>
        <%= render 'tags/tag', tag: article_tag %>
      <% end %>
    </div>

    <div class="description">
      <%= content_tag :span, article.tldr %>
    </div>
  </div>
</a>
