<%= form_with(model: project, local: true) do |form| %>
  <%= render "shared/errors", obj: @project %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, id: :project_name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, id: :project_description, class: "textarea" %>
  </div>

  <div class="field">
    <%= form.label :url, class: "label" %>
    <%= form.text_field :url, id: :project_url, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :image, class: "label" %>
    <%= form.file_field :image, id: :project_image, accept: 'image/png,image/gif,image/jpeg' %>
  </div>

  <%= form.submit class: "button is-link" %>
<% end %>