<% %w(pink red orange yellow olive green teal blue violet purple brown grey black).each do |color| %>
  <h1 class="<%=color%>">
    Before contacting please read the <%=link_to "FAQ", faqs_path %>
  </h1>
<% end %>

<br>

<p>
  Last edited 2019-05-29
</p>

<hr>

<h3>Bug reporting</h3>

<% bug_reporting = mail_to "sudobangbangcontact@protonmail.com" %>
<% general_contact = bug_reporting %>

<p>
  Use the above contact and describe in as much detail as you can what happened and
  the minimal steps to reproduce the bug. Title the email with "BUG:". We will put it
  in our issue tracking software and begin fixing it ASAP: <%= bug_reporting %>
</p>

<h3>General contact</h3>

<p>
  Please read the <%= link_to "FAQ", faqs_path %> before emailing, or see our
  <%= link_to "privacy policy", privacy_path %> if you have questions on that:
  <%= general_contact %>
</p>
