<h1>Jump to:</h1>

<% to_link = lambda {|i| "/articles?tags=#{Tag.where('name = ?', i).limit(1).pluck(:id).first}"} %>

<div class="ui link list">
  <a href="<%= to_link.call "mathematics" %>" class="active item">
    <h2>Mathematics</h2>
  </a>
  <a href="<%= to_link.call "discrete mathematics" %>" class="item">
    Discrete Mathematics
  </a>
  <a href="<%= to_link.call "group theory" %>" class="item">
    Group theory
  </a>
  <a href="<%= to_link.call "linear algebra" %>" class="item">
    Linear algebra
  </a>
</div>

<div class="ui link list">
  <a href="<%= to_link.call "computer science" %>" class="active item">
    <h2>Computer Science</h2>
  </a>
  <a href="<%= to_link.call "algorithms" %>" class="item">
    Algorithms
  </a>
  <a href="<%= to_link.call "theoretical computer science" %>" class="item">
    Theoretical computer science
  </a>
  <a href="<%= to_link.call "cybersecurity" %>" class="item">
    Cybersecurity
  </a>
</div>

<div class="ui link list">
  <a href="<%= to_link.call "conspiracy" %>" class="active item">
    <h2>Conspiracy</h2>
  </a>
  <a href="<%= to_link.call "flat earth" %>" class="item">
    Flat Earth
  </a>
  <a href="<%= to_link.call "9/11" %>" class="item">
    9/11
  </a>
  <a href="<%= to_link.call "aliens" %>" class="item">
    Aliens
  </a>
</div>
