<div class="item" id="<%= dom_id(user) %>">

  <div class="ui small image">
    <%= image_tag(user.profile_picture.attachment || "empty_set.png") %>
  </div>

  <div class="content">
    <%= link_to user.handle, user, class: "header" %>

    <% if user.admin? %>
      <div class="meta">
        <label class="ui red label">
          Administrator <i class="shield alterate icon"></i>
        </label>
      </div>
    <% end %>

    <div class="extra">
      Article views: <%= user.articles.sum(:views) %>
    </div>

    <div class="extra">
      Articles written: <%= user.articles.count %>
    </div>
  </div>
</div>
