<div class="ui inverted vertical footer segment flex-wrapper" style="margin-top: 8em">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="eight wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <%= link_to "Contact", contact_path, class: "item" %>
          <%= link_to "Privacy", privacy_path, class: "item" %>
        </div>
      </div>
      <div class="eight wide column">
        <h4 class="ui inverted header">Technical Docs</h4>
        <div class="ui inverted link list">
          <a href="<%= tag_to_href "mathematics" %>" class="item">Mathematics</a>
          <a href="<%= tag_to_href "computer science" %>" class="item">Computer Science</a>
          <a href="<%= tag_to_href "physics" %>" class="item">Physics</a>
        </div>
      </div>
    </div>
    <div class="ui stackable inverted equal height stackable grid">
      <div class="five wide column"></div>
      <div class="six wide column">
        <%= image_tag "sudobangbang_green.gif", height: 25, width: 100 %>
      </div>
      <div class="five wide column"></div>
    </div>
  </div>
</div>
