<div class="ui inverted vertical footer segment flex-wrapper" id="footer">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="five wide column">
        <h4 class="inverted">Information</h4>
        <div class="ui inverted link list">
          <%= link_to "About", about_path, class: "item" %>
          <%= link_to "FAQs", faqs_path, class: "item" %>
          <%= link_to "Contact", contact_path, class: "item" %>
          <%= link_to "Privacy", privacy_path, class: "item" %>
        </div>
      </div>
      <div class="six wide column">
        <h4 class="inverted">Users</h4>
        <div class="ui inverted link list">
          <%= link_to "All", users_path, class: "item" %>

          <% most_poppin_user = most_popular_user %>
          <% unless most_poppin_user.nil? %>
            <%= link_to "Most popular user right now", most_popular_user, class: "item" %>
          <% end %>
        </div>
      </div>
      <div class="five wide column">
        <h4 class="inverted">Tags</h4>
        <div class="ui inverted link list">
          <%= link_to "All", tags_path, class: "item" %>
        </div>
      </div>
    </div>
    <div class="ui one column stackable center aligned page grid">
      <div class="twelve wide column">
        <%= image_tag "sudobangbang_green.gif", height: 50, width: 200 %>
      </div>
    </div>
  </div>
</div>
